* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  font-style: none;
  text-decoration: none;
}

/* General layout of header, content and footer */
.body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  font-style: normal;
}

.header {
  flex: none;
}

.content {
  flex: auto;
}

.footer {
  flex: none;
}

/* Layout of the header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 192px;
}

.header .nav {
  display: flex;
  gap: 24px;
}

.sign-up {
  padding: 8px 32px;
  border-radius: 8px;
  border-width: 3px;
  flex: none;
}

/* Layout of the introduction section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 128px 192px;
}

.intro .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.intro .image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.intro img {
  max-width: 100%;
}

/* Layout of information section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 64px;
  text-align: center;
}

.info .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 48px;
}

.info .list li {
  width: 180px;
}

.info .list li img {
  max-width: 100%;
  border: 3px solid #3882F6;
  border-radius: 8px;
}

/* Layout of quotation section */
.quote {
  margin: 128px 0;
  padding: 96px 192px;
}

.quote footer {
  display: flex;
  justify-content: flex-end;
}

/* Layout of registration section */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px 0;
}

.register .box {
  border-radius: 8px;
  padding: 48px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

/* Layout of the footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px 48px;
}

/* Justify styles and fonts */
.header, .footer, .intro {
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
}

.header .nav a {
  color: #E5E7EB;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.intro .heading {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.info {
  font-size: 18px;
  font-weight: 350;
  color: #1F2937;
}

.info .heading {
  font-size: 36px;
  font-weight: 900;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 350;
}

.quote footer {
  font-size: 24px;
  font-weight: 700;
}

.register .box {
  background-color: #3882F6;
}

.register .text {
  color: #F9FAF8;
}

.register .heading {
  font-weight: 700;
  font-size: 24px;
}

.register .sign-up {
  border-color: #F9FAF8;
}

.sign-up {
  background-color: #3882F6;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
}